@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
    font-family: 'Mooli', sans-serif;
    color: white;
}

body {
    background-image: url(./background_madeira.jpg);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    color: black;
}

.titulo {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-around;
}

#menu-final {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#menu-final img {
    max-width: 100px;
    margin: 5px; 
    display: inline-block;
}

#menu-final p {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: calc(33.33% - 10px);
}
